* {
  padding: 0px;
  margin: 0px;
}

.carousel-title1 {
  color: rgb(226, 190, 13);
  position: relative;
  margin-bottom: 10px;
}

.carousel-title2 {
  color: rgb(243, 243, 243);
  position: relative;
  margin-bottom: 10px;
}

.carousel .carousel-item {
  max-height: 1300px;
}

.carousel-item img {
  object-fit: inherit;
  position: relative;
}
